<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg ">
      <!-- navbar-light bg-light  -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link">Milk & Eggs <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Vegetables & Fruits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Meat & Fish</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ">Wine & Drinks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ">Bakery</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="row cardList">
    <!-- <div class="container cardList">
      <div class="row"> -->
    <app-product></app-product>
    <!-- </div>
    </div> -->
  </div>
</div>