<div class="container cart">
  <button
    type="button"
    class="btn btn-danger"
    data-dismiss="modal"
    (click)="delAllCart()"
  >
    Delete All
  </button>
  <hr />

  <div class="container mb-4">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col" class="text-center">Qty</th>
                <th scope="col" class="text-center">Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of dataService.loadedCart">
                <td>
                  <img
                    src="{{ product.product.picture }}"
                    width="60"
                    height="60"
                  />
                </td>
                <td>{{ product.product.proname }}</td>
                <td class="text-center">{{ product.qty }}</td>
                <td class="text-center">${{ product.total_cost }}</td>
                <td class="text-right">
                  <button
                    class="btn btn-sm btn-danger"
                    (click)="removeFromCart(product._id)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td></td>

                <td></td>
                <td class="text-center"><strong>Total</strong></td>
                <td class="text-center">
                  <strong>${{ total }}</strong>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col mb-2">
        <div class="row">
          <div class="col-sm-12  col-md-6">
            <br />
            <button class="btn btn-block btn-light" (click)="checkOut()">
              Check Out
            </button>
          </div>
          <div class="col-sm-12 col-md-6 text-right"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal" id="myModal" [ngClass]="{ show: showModal }">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Select Quantity For:</h4>
          <button
            type="button"
            class="close"
            (click)="showModal = false"
            data-dismiss="modal"
          >
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <h5>{{ addProduct?.proname }}</h5>
          <div class="number-input md-number-input">
            <button
              onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
              class="minus"
            ></button>
            <input
              class="quantity"
              min="1"
              name="quantity"
              value="1"
              type="number"
              #myInput
            />
            <button
              onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
              class="plus"
            ></button>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button
            type="button"
            (click)="showModal = false"
            class="btn btn-danger"
            data-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            (click)="addToCart(myInput.value)"
            class="btn btn-success"
            data-dismiss="modal"
          >
            Add To Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
