<div class="container-fluid container1">
  <div class="row ">
    <div class="col box">
      <app-login></app-login>
    </div>
    <div class="col box mx-2">
      <p>
        Eating a healthy diet is not about strict limitations, staying
        unrealistically thin, or depriving yourself of the foods you love.
        Rather, it’s about feeling great, having more energy, improving your
        health, and boosting your mood. Start buying healthy foods today!
      </p>
      <img src="../../assets/frut.jpg" alt="frut" width="170" height="170" />
    </div>
    <div class="col box">
      <app-snapshot></app-snapshot>
    </div>
  </div>
</div>
